/*
body 
{
    background-color: #2E5984;
}

#title 
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#loginDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
} 
*/
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}
#title 
{
    font-size: 40px;
    width: 100%;
    margin-top: 5%;
    margin-left: 41%;
    color: #d9d0d0;
    position: fixed;
}
.hero{
    height: 100%;
    width: 120%;
    background-image: url(../images/Aurora.jpg);
    /*background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/mountains.jpg);*/
    background-color: #FFFFFF;
    background-position: center;
    background-size: cover;
    position: fixed;
}
.form-box{
    width: 380px;
    height: 480px; 
    position: fixed;
    margin-top: 11%;
    margin-left: 39%;
    border-radius: 30px;
    background: #d9d0d0;
    padding: 5px; 
    overflow: hidden;
}
.button-box{
    width: 212px;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor:  pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
label{
    display: inline-block;
    width: 150px;
    color: #1d1b1b;
}
#btn{
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 50px;
    padding: 10px 0;
    margin-left: 0;
    border: 1px solid #1d1b1b;
    outline:  none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top: 5%;
    margin-left: 20px;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    
}
span{
    color: #ff105f;;
    font-size: 12px;
    position: absolute;
    bottom: 90px;
}
#registerButton{
    margin-top: 22%;
}
#registerResult{
    color: #ff105f;;
    font-size: 12px;
    position: absolute;
    left: 50px;
    bottom: 53px;
}
#loginResult{
    color: #ff105f;;
    font-size: 12px;
    position: absolute;
    bottom: 40px;
    margin-left: 15%;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
input[type="text"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    font-family: 'Ubuntu', sans-serif;
}
input[type="text"]:focus{
    background-color: rgb(255, 255, 255);
}
input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    font-family: 'Ubuntu', sans-serif;
}
input[type="password"]:focus{
    background-color: rgb(255, 255, 255);
}

/* HERE ENDS ADDED CODE */
/* #searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}



#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
} */